       html,
       body {
           margin: 0;
           padding: 5;
           font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
           font-size: 14px;
       }

       #external-events {
           position: relative;
           float: left;
           z-index: 1;
           height: 100%;
           top: 10px;
           left: 30px;
           width: 15%;
           padding: 0 10px;
           border: 1px solid #ccc;
           background: #eee;
       }

       #external-events .fc-event {
           margin: 4.5px 0;
           height: 30px;
           font-size: 12pt;
           cursor: move;
       }

       #calendar-container {
           height: 1200px;
           margin-left: 10%;
           position: fixed;
           top: 0;
           left: 0;
           z-index: 999;
       }

       #calendar {
           float: right;
           position: relative;
           vertical-align: top;
           max-width: 85%;
           margin: 10px;

       }

       table {
           height: 100%;
       }

       #calendar,
       tr {
           /* font-size: 16pt; */
           height: 40px;
       }

       td {
           font-size: 16pt !important;
       }

       .fc-title {
           font-size: 10pt !important;
       }

       .fc-content {
           font-size: 12pt;
       }

       .fc-day-header {
           font-size: 24pt;
           color: #5d58af;
           font-weight: bold;
       }

       .fc-time-grid-event {
           background-color: #5d58af !important;
       }